$dark-side: #0a0a0a;
$home-back: #050835;
$about-back: #140333;
$contact-back: #041935;
$experience-back: #022029;
$projects-back: #032c22;
$white: #ffffff;
$grey: #555555;
$lightGrey: #dddddd;
$primary: #12ac8a;