$dark-side: #0a0a0a;
$home-back: #050835;
$about-back: #140333;
$contact-back: #041935;
$experience-back: #022029;
$projects-back: #032c22;
$white: #ffffff;
$grey: #555555;
$lightGrey: #dddddd;
$boxShadowColor: rgba(64, 34, 95, 0.2);
$borderColor: #dddddd;
$primary: rgb(35, 91, 211);
$primaryDark: rgb(0, 54, 172);
$red: rgb(211, 35, 50);
