@import "../../assets/scss/variables.scss";

.temperatureConverter {
    width: 400px;
    min-height: 150px;
    box-shadow: 0 2px 8px 0 $boxShadowColor;
    border-radius: 4px;

    .contentBox {
        width: 100%;
        min-height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 15px;

        .inputBox {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .customInput {
                width: 45%;
            }
        }

        h6 {
            font-size: 14px;
            margin-top: 10px;
        }
    }
}
